//main slider
section(class="news--area section-padding-80")
    div(class="container")
        div(class="row no-gutters") 
            div(class="col-md-7")
                div(class="main-title title-with-border") 
                    div(class="news-title") 
                        h5 latest news   
                    div(class="border-between")    
                    a(href="articles.html",class="btn-articles")
                        img(src="images/icons/allServices.svg",alt="allArticles")
                        | All Articles 
                             
                #v-pills-tab(class="nav flex-column nav-pills me-3", role="tablist", aria-orientation="vertical")
                    button#post-1-tab(class="nav-link active", data-bs-toggle="pill", data-bs-target="#post-1", type="button", role="tab", aria-controls="post-1", aria-selected="true")
                        div(class="single--news")
                                div(class="single--news--thumbanial")
                                    img(src="images/news-slider/01.png",alt="",class="img-fluid")
                                div(class="single--news--content")
                                    h6(class="post-title")  A project with the "Al-Anoud" Charitable Foundation, the College of Education in Al-Kharj organizes the periodic meeting "Thursday Meeting"
                                    div(class="post-meta") 
                                        div(class="time")
                                            i(class="bi bi-calendar")
                                            | Sunday, October 24, 2021 - 19:24 
                                        div(class="time") 
                                            i(class="bi bi-geo-alt-fill")
                                            | El Karja    
                                        div(class="view")
                                            span(class="view")
                                                i(class="bi bi-eye-fill")    
                                                |  1222
                                            span(class="view")
                                                i(class="bi bi-chat")    
                                                |  16425
                    button#post-2-tab(class="nav-link", data-bs-toggle="pill", data-bs-target="#post-2", type="button", role="tab", aria-controls="post-2", aria-selected="false") 
                        div(class="single--news")
                                div(class="single--news--thumbanial")
                                    img(src="images/news-slider/sm-2.svg",alt="",class="img-fluid")
                                div(class="single--news--content")
                                    h6(class="post-title")  A project with the "Al-Anoud" Charitable Foundation, the College  periodic meeting "Thursday Meeting"
                                    div(class="post-meta") 
                                        div(class="time")
                                            i(class="bi bi-calendar")
                                            | Sunday, October 24, 2021 - 19:24 
                                        div(class="time") 
                                            i(class="bi bi-geo-alt-fill")
                                            | El Karja        
                                        div(class="view")
                                            span(class="view")
                                                i(class="bi bi-eye-fill")    
                                                |  1222
                                            span(class="view")
                                                i(class="bi bi-chat")    
                                                |  16425     
                    button#post-3-tab(class="nav-link", data-bs-toggle="pill", data-bs-target="#post-3", type="button", role="tab", aria-controls="post-3", aria-selected="false") 
                        div(class="single--news")
                                div(class="single--news--thumbanial")
                                    img(src="images/news-slider/sm-2.svg",alt="",class="img-fluid")
                                div(class="single--news--content")
                                    h6(class="post-title")  A project with the "Al-Anoud" Charitable Foundation, the College  periodic meeting "Thursday Meeting"
                                    div(class="post-meta") 
                                        div(class="time")
                                            i(class="bi bi-calendar")
                                            | Sunday, October 24, 2021 - 19:24 
                                        div(class="time") 
                                            i(class="bi bi-geo-alt-fill")
                                            | El Karja        
                                        div(class="view")
                                            span(class="view")
                                                i(class="bi bi-eye-fill")    
                                                |  1222
                                            span(class="view")
                                                i(class="bi bi-chat")    
                                                |  16425  
                    button#post-4-tab(class="nav-link", data-bs-toggle="pill", data-bs-target="#post-4", type="button", role="tab", aria-controls="post-4", aria-selected="false") 
                        div(class="single--news")
                                div(class="single--news--thumbanial")
                                    img(src="images/news-slider/sm-2.svg",alt="",class="img-fluid")
                                div(class="single--news--content")
                                    h6(class="post-title")  A project with the "Al-Anoud" Charitable Foundation, the College  periodic meeting "Thursday Meeting"
                                    div(class="post-meta") 
                                        div(class="time")
                                            i(class="bi bi-calendar")
                                            | Sunday, October 24, 2021 - 19:24 
                                        div(class="time") 
                                            i(class="bi bi-geo-alt-fill")
                                            | El Karja        
                                        div(class="view")
                                            span(class="view")
                                                i(class="bi bi-eye-fill")    
                                                |  1222
                                            span(class="view")
                                                i(class="bi bi-chat")    
                                                |  16425                                                              
            div(class="col-md-5")
                #v-pills-tabContent(class="tab-content")
                    #post-1(class="tab-pane fade show active  wow fadeInLeft",  data-wow-duration="1s" data-wow-delay="0.5s" role="tabpanel", aria-labelledby="post-1") 
                        div(class="single--news--active")
                            div(class="single--news--thumbanial")
                                img(src="images/news-slider/02.png",alt="",class="img-fluid")
                            div(class="single--news--content")
                                    h6(class="post-title")  A project with the "Al-Anoud" Charitable Foundation, the College of Education in Al-Kharj organizes the periodic meeting "Thursday Meeting"
                                    div(class="post-meta") 
                                        div(class="time")
                                            i(class="bi bi-calendar")
                                            | Sunday, October 24, 2021 - 19:24
                                        div(class="time") 
                                            i(class="bi bi-geo-alt-fill")
                                            | El Karja
                                        div(class="view")
                                            span(class="view")
                                                i(class="bi bi-eye-fill")    
                                                |  1222
                                                
                                            span(class="view")
                                                i(class="bi bi-chat")    
                                                |  16425  
                    #post-2(class="tab-pane fade wow fadeInLeft",  data-wow-duration="1s" data-wow-delay="1s", role="tabpanel", aria-labelledby="post-2")  
                        div(class="single--news--active")
                            div(class="single--news--thumbanial")
                                img(src="images/news-slider/02.png",alt="",class="img-fluid")
                            div(class="single--news--content")
                                    h6(class="post-title")   A project with the "Al-Anoud" Charitable Foundation, the College  periodic meeting "Thursday Meeting"
                                    div(class="post-meta") 
                                        div(class="time")
                                            i(class="bi bi-calendar")
                                            | Sunday, October 24, 2021 - 19:24
                                        div(class="time") 
                                            i(class="bi bi-geo-alt-fill")
                                            | El Karja
                                        div(class="view")
                                            span(class="view")
                                                i(class="bi bi-eye-fill")    
                                                |  1222
                                                
                                            span(class="view")
                                                i(class="bi bi-chat")    
                                                |  16425                                                     
    div(class="fixed-contact")
        div(class="be-contact")
            a(href="#")
                img(src="images/icons/becontact.svg",alt="contact")
                i(class="bi bi-chat-left-dots")
        div(class="socail-contact")
            ul
                li
                    a(href="#!")
                        i(class="bi bi-twitter")
                li
                    a(href="#!")
                        i(class="bi bi-facebook") 
                li
                    a(href="#!")
                        i(class="bi bi-youtube") 
                li
                    a(href="#!")
                        i(class="bi bi-instagram")         
//kingdom news 
section(class="kingdom-news")
    div(class="container")
        div(class="main-title")
            img(class="img-fluid",src="images/home/kingdomLogo.svg",alt="kingdowm") 
            h2 family first services
    div(class="content")
        div(class="kingdomNews-carousel   owl-carousel owl-theme")
            div(class="kingdomNews-box")
                div(class="heading")
                    div(class="image")
                        a(href="#!") 
                            img(class="img-fluid" src="images//home/kngdowm-news/1.svg" alt="")
                    div(class="text")
                        h3 Custodian of the Two Holy Mosques chairs Cabinet session 
            div(class="kingdomNews-box")
                div(class="heading")
                    div(class="image")
                        a(href="#!") 
                            img(class="img-fluid" src="images//home/kngdowm-news/2.svg" alt="")
                    div(class="text")
                        h3 HRH the Crown Prince meets with the Malaysian Defense Minister
            div(class="kingdomNews-box")
                div(class="heading")
                    div(class="image")
                        a(href="#!") 
                            img(class="img-fluid" src="images//home/kngdowm-news/3.svg" alt="")
                    div(class="text")
                        h3 The Ministry of Transport and Logistics continues to implement the project of duplication of the Riyadh Al-Rain Bisha project
            div(class="kingdomNews-box")
                div(class="heading")
                    div(class="image")
                        a(href="#!") 
                            img(class="img-fluid" src="images//home/kngdowm-news/4.svg" alt="")
                    div(class="text")
                        h3 HRH the Crown Prince meets with the Malaysian Defense Minister
            div(class="kingdomNews-box")
                div(class="heading")
                    div(class="image")
                        a(href="#!") 
                            img(class="img-fluid" src="images//home/kngdowm-news/1.svg" alt="")
                    div(class="text")
                        h3 Custodian of the Two Holy Mosques chairs Cabinet session 
//about us
section(class="articles")
    div(class="container") 
        div(class="title-with-all")
            div(class="main-title mb-0")
                img(class="img-fluid",src="images/icons/allArticles.svg",alt="kingdowm") 
                h2 Articles
            div(class="all-decisions")    
                a(href="articles.html",class="btn-articles")
                    img(src="images/icons/allServices.svg",alt="allArticles")
                    | All Articles
        div(class="content")
            div(class="row")
                div(class="col-lg-3")
                    div(class="article-box wow slideInUp" data-wow-duration="1.3s" data-wow-delay=".3s")
                        div(class="heading")
                            div(class="image")
                                a(href="single-article.html") 
                                    img(class="img-fluid" src="images/home/articles/article1.svg" alt="")
                                div(class="author")
                                    div(class="image")
                                        img(class="img-fluid" src="images/home/articles/author2.svg" alt="")
                                    p D.ibrahib ibn msalam        
                            div(class="text")
                                h3 Feelings and feelings (in Saudi poetry)  
                div(class="col-lg-3")
                    div(class="article-box wow slideInUp" data-wow-duration="1.3s" data-wow-delay=".3s")
                        div(class="heading")
                            div(class="image")
                                a(href="single-article.html") 
                                    img(class="img-fluid" src="images/home/articles/article2.svg" alt="")
                                div(class="author")
                                    div(class="image")
                                        img(class="img-fluid" src="images/home/articles/author2.svg" alt="")
                                    p D.ibrahib ibn msalam     
                            div(class="text")
                                h3 Feelings and feelings (in Saudi poetry) 
                           
                div(class="col-lg-3")
                    div(class="article-box wow slideInUp" data-wow-duration="1.3s" data-wow-delay=".3s")
                        div(class="heading")
                            div(class="image")
                                a(href="single-article.html") 
                                    img(class="img-fluid" src="images/home/articles/article3.svg" alt="")
                                div(class="author")
                                    div(class="image")
                                        img(class="img-fluid" src="images/home/articles/author2.svg" alt="")
                                    p D.ibrahib ibn msalam        
                            div(class="text")
                                h3 Feelings and feelings (in Saudi poetry) 
                div(class="col-lg-3")
                    div(class="article-box wow slideInUp" data-wow-duration="1.3s" data-wow-delay=".3s")
                        div(class="heading")
                            div(class="image")
                                a(href="single-article.html") 
                                    img(class="img-fluid" src="images/home/articles/article4.svg" alt="")
                                div(class="author")
                                    div(class="image")
                                        img(class="img-fluid" src="images/home/articles/author2.svg" alt="")
                                    p D.ibrahib ibn msalam        
                            div(class="text")
                                h3 Feelings and feelings (in Saudi poetry)                                                   
//decisions 
section(class="decisions")
    div(class="container")
        div(class="title-with-all") 
            div(class="main-title") 
                h2 Administrative decisions
                p The newspaper provides daily follow-up to the administrative decisions of the university's employees
            div(class="all-decisions")    
                    a(href="decisions.html",class="btn-articles")
                        img(src="images/icons/allServices.svg",alt="allArticles")
                        | All Decisisons    
        div(class="content")
            div(class="decisions-carousel owl-carousel owl-theme mb-5")
                div(class="decisions-box wow fadeInUp" data-wow-duration="1.3s" data-wow-delay=".3s") 
                    div(class="image")
                        img(src="images/home/decisison/01.png")
                    div(class="text")
                        p Renewing the appointment of Dr. Ghaleb bin Hamad Al-Nahdi as Dean of the Deanship of Scientific Research   
                div(class="decisions-box wow fadeInUp" data-wow-duration="1.3s" data-wow-delay=".3s")
                    div(class="image")
                        img(src="images/home/decisison/02.png")
                    div(class="text")
                        p Renewing the appointment of Dr. Ghaleb bin Hamad Al-Nahdi as Dean of the Deanship of Scientific Research
                div(class="decisions-box wow fadeInUp" data-wow-duration="1.3s" data-wow-delay=".3s")
                    div(class="image")
                        img(src="images/home/decisison/03.png")
                    div(class="text")
                        p Renewing the appointment of Dr. Ghaleb bin Hamad Al-Nahdi as Dean of the Deanship of Scientific Research
                div(class="decisions-box wow fadeInUp" data-wow-duration="1.3s" data-wow-delay=".3s")
                    div(class="image")
                        img(src="images/home/decisison/04.png")
                    div(class="text")
                        p Renewing the appointment of Dr. Ghaleb bin Hamad Al-Nahdi as Dean of the Deanship of Scientific Research
                div(class="decisions-box wow fadeInUp" data-wow-duration="1.3s" data-wow-delay=".3s")
                    div(class="image")
                        img(src="images/home/decisison/03.png")
                    div(class="text")
                        p Renewing the appointment of Dr. Ghaleb bin Hamad Al-Nahdi as Dean of the Deanship of Scientific Research
                div(class="decisions-box wow fadeInUp" data-wow-duration="1.3s" data-wow-delay=".3s")
                    div(class="image")
                        img(src="images/home/decisison/01.png")
                    div(class="text")
                        p Renewing the appointment of Dr. Ghaleb bin Hamad Al-Nahdi as Dean of the Deanship of Scientific Research    
                             
//- reports
section(class="reports")
    div(class="container") 
        div(class="title-with-all") 
            div(class="main-title") 
                img(class="img-fluid",src="images/icons/reports.svg",alt="kingdowm") 
                h2 Reports
            div(class="all-decisions")    
                    a(href="reports.html",class="btn-articles")
                        img(src="images/icons/allServices.svg",alt="allArticles")
                        | All Reportts           
        div(class="content")
            div(class="row")
                div(class="col-md-4")
                    div(class="report-box wow fadeInDown" data-wow-duration="1.3s" data-wow-delay=".3s")
                        div(class="image")
                            img(src="images/home/reports/1.svg")
                        div(class="text")
                            a(href="single-report.html") Deanship of Library Affairs towards digital transformation in the main reference for services and knowledge sources of all kinds   
                        div(class="report-meta")
                            div(class="time")
                                i(class="bi bi-calendar")
                                | Sunday, October 24, 2021 - 19:24
                            div(class="view")
                                span(class="view")
                                    i(class="bi bi-eye-fill")    
                                    |  1222
                                span(class="view")
                                    i(class="bi bi-chat")    
                                    |  16425
                div(class="col-md-4")
                     div(class="report-box wow fadeInDown" data-wow-duration="1.3s" data-wow-delay=".3s")
                        div(class="image")
                            img(src="images/home/reports/2.svg")
                        div(class="text")
                            a(href="single-report.html") Deanship of Library Affairs towards digital transformation in the main reference for services and knowledge sources of all kinds   
                        div(class="report-meta")
                            div(class="time")
                                i(class="bi bi-calendar")
                                | Sunday, October 24, 2021 - 19:24
                            div(class="view")
                                span(class="view")
                                    i(class="bi bi-eye-fill")    
                                    |  1222
                                span(class="view")
                                    i(class="bi bi-chat")    
                                    |  16425
                div(class="col-md-4")       
                     div(class="report-box wow fadeInDown" data-wow-duration="1.3s" data-wow-delay=".3s")
                        div(class="image")
                            img(src="images/home/reports/3.svg")
                        div(class="text")
                            a(href="single-report.html") Deanship of Library Affairs towards digital transformation in the main reference for services and knowledge sources of all kinds   
                        div(class="report-meta")
                            div(class="time")
                                i(class="bi bi-calendar")
                                | Sunday, October 24, 2021 - 19:24
                            div(class="view")
                                span(class="view")
                                    i(class="bi bi-eye-fill")    
                                    |  1222
                                span(class="view")
                                    i(class="bi bi-chat")    
                                    |  16425             
//- start mettings
 
section(class="mettings")
    div(class="container")  
        div(class="main-title title-with-border") 
            div(class="mettings-title")
                img(class="img-fluid",src="images/icons/reportIcon.svg",alt="kingdowm") 
                h2 Meetings    
            div(class="border-between")    
            a(href="meetings.html",class="btn-articles")
                img(src="images/icons/allServices.svg",alt="allArticles")
                | All Meetings           
        div(class="content")
            div(class="row")
                div(class="col-md-4")
                    div(class="report-box  wow slideInUp" data-wow-duration="1.3s" data-wow-delay=".3s")
                        div(class="image")
                            img(src="images/mettings/01.png")
                        div(class="text")
                            a(href="single.meeting.html") Deanship of Library Affairs towards digital transformation in the main reference for services and knowledge sources of all kinds   
                        div(class="report-meta")
                            div(class="time")
                                i(class="bi bi-calendar")
                                | Sunday, October 24, 2021 - 19:24
                            div(class="view")
                                span(class="view")
                                    i(class="bi bi-eye-fill")    
                                    |  1222
                                span(class="view")
                                    i(class="bi bi-chat")    
                                    |  16425
                div(class="col-md-4")
                     div(class="report-box  wow slideInUp" data-wow-duration="1.3s" data-wow-delay=".3s")
                        div(class="image")
                            img(src="images/mettings/02.png")
                        div(class="text")
                            a(href="single.meeting.html") Deanship of Library Affairs towards digital transformation in the main reference for services and knowledge sources of all kinds   
                        div(class="report-meta")
                            div(class="time")
                                i(class="bi bi-calendar")
                                | Sunday, October 24, 2021 - 19:24
                            div(class="view")
                                span(class="view")
                                    i(class="bi bi-eye-fill")    
                                    |  1222
                                span(class="view")
                                    i(class="bi bi-chat")    
                                    |  16425
                div(class="col-md-4")       
                     div(class="report-box  wow slideInUp" data-wow-duration="1.3s" data-wow-delay=".3s")
                        div(class="image")
                            img(src="images/mettings/03.png")
                        div(class="text")
                            a(href="single.meeting.html") Deanship of Library Affairs towards digital transformation in the main reference for services and knowledge sources of all kinds   
                        div(class="report-meta")
                            div(class="time")
                                i(class="bi bi-calendar")
                                | Sunday, October 24, 2021 - 19:24
                            div(class="view")
                                span(class="view")
                                    i(class="bi bi-eye-fill")    
                                    |  1222
                                span(class="view")
                                    i(class="bi bi-chat")    
                                    |  16425             

//- start adds 
seciton(class="ads")
    div(class="container")
        div(class="main-title")
            h2 magazine Ads 
            p this part is belongs to magazine ads
        div(class="row")
            div(class="col-md-6")
                div(class="image wow bounceInRight" data-wow-duration="1.3s" data-wow-delay=".3s")
                    a(href="#!") 
                        img(class="img-fluid" src="images/ads/1.png" alt="")   
            div(class="col-md-6")
                div(class="image wow bounceInLeft" data-wow-duration="1.3s" data-wow-delay=".3s")
                    a(href="#!") 
                        img(class="img-fluid" src="images/ads/2.png" alt="")  
//- univeristy sociaty
section(class="socaity")
    div(class="container") 
        div(class="title-with-all") 
            div(class="main-title") 
                img(class="img-fluid",src="images/icons/socaity.svg",alt="kingdowm") 
                h2 Unuveristy Socaity 
            div(class="all-decisions")    
                    a(href="socaity.html",class="btn-articles")
                        img(src="images/icons/allServices.svg",alt="allArticles")
                        | All Socaity           
        div(class="content")
            div(class="row")
                div(class="col-md-4")
                    div(class="socaity-box wow fadeInUpBig" data-wow-duration="1.3s" data-wow-delay=".3s")
                        div(class="image")
                            img(src="images/socaity/1.svg",alt="socaity",class="img-fluid")
                        div(class="text")
                            a(href="#!") The university congratulates the wedding of Mr. Walid Al-Sulaiten, a blessed marriage, as long as happiness in your world
                div(class="col-md-4")
                    div(class="socaity-box wow fadeInUpBig" data-wow-duration="1.3s" data-wow-delay=".3s")
                        div(class="image")
                            img(src="images/socaity/1.svg",alt="socaity",class="img-fluid")
                        div(class="text")
                            a(href="#!") The university congratulates the wedding of Mr. Walid Al-Sulaiten, a blessed marriage, as long as happiness in your world
                div(class="col-md-4")
                    div(class="socaity-box wow fadeInUpBig" data-wow-duration="1.3s" data-wow-delay=".3s")
                        div(class="image")
                            img(src="images/socaity/1.svg",alt="socaity",class="img-fluid")
                        div(class="text")
                            a(href="#!") The university congratulates the wedding of Mr. Walid Al-Sulaiten, a blessed marriage, as long as happiness in your world
                div(class="col-md-4")
                    div(class="socaity-box wow fadeInUpBig" data-wow-duration="1.3s" data-wow-delay=".3s")
                        div(class="image")
                            img(src="images/socaity/1.svg",alt="socaity",class="img-fluid")
                        div(class="text")
                            a(href="#!") The university congratulates the wedding of Mr. Walid Al-Sulaiten, a blessed marriage, as long as happiness in your world    
                div(class="col-md-4")
                    div(class="socaity-box wow fadeInUpBig" data-wow-duration="1.3s" data-wow-delay=".3s")
                        div(class="image")
                            img(src="images/socaity/1.svg",alt="socaity",class="img-fluid")
                        div(class="text")
                            a(href="#!") The university congratulates the wedding of Mr. Walid Al-Sulaiten, a blessed marriage, as long as happiness in your world  
                div(class="col-md-4")
                    div(class="socaity-box wow fadeInUpBig" data-wow-duration="1.3s" data-wow-delay=".3s")
                        div(class="image")
                            img(src="images/socaity/1.svg",alt="socaity",class="img-fluid")
                        div(class="text")
                            a(href="#!") The university congratulates the wedding of Mr. Walid Al-Sulaiten, a blessed marriage, as long as happiness in your world                                   
//- start magazine services 
                                               
//services
section(class="services")
    div(class="container")
        div(class="main-title")
            h2 magazine services
            p magazine serve alot of services.
        div(class="content")
            div(class="magazine-grid")
                div(class="magazine-box wow fadeInUp" data-wow-duration="1.3s" data-wow-delay=".1s")
                    img(src="images/services/1.svg",alt="services",class="img-fluid")
                    h4
                        a(href="#!") Send Message  
                div(class="magazine-box wow fadeInUp" data-wow-duration="1.3s" data-wow-delay=".2s")
                    img(src="images/services/2.svg",alt="services",class="img-fluid")
                    h4
                        a(href="#!") Reserve Tree    
                div(class="magazine-box wow fadeInUp" data-wow-duration="1.3s" data-wow-delay=".3s")
                    img(src="images/services/3.svg",alt="services",class="img-fluid")
                    h4
                        a(href="#!") Photography event or event  
                div(class="magazine-box wow fadeInUp" data-wow-duration="1.3s" data-wow-delay=".4s")
                    img(src="images/services/4.svg",alt="services",class="img-fluid")
                    h4
                        a(href="#!") Event calendar
                div(class="magazine-box wow fadeInUp" data-wow-duration="1.3s" data-wow-delay=".5s")
                    img(src="images/services/5.svg",alt="services",class="img-fluid")
                    h4
                        a(href="#!") Date Converter
                div(class="magazine-box wow fadeInUp" data-wow-duration="1.3s" data-wow-delay=".6s")
                    img(src="images/services/6.svg",alt="services",class="img-fluid")
                    h4
                        a(href="#!") The weather today 
            div(class="contact-social")
                p contact us on social media 
                ul 
                    li 
                        a(href="#")
                            i(class="bi bi-instagram")     
                    li 
                        a(href="#")
                            i(class="bi bi-linkedin")    
                    li 
                        a(href="#")
                            i(class="bi bi-youtube")    
                    li 
                        a(href="#")
                            i(class="bi bi-facebook")    
                    li 
                        a(href="#")
                            i(class="bi bi-twitter")   
//services

//- start media center 
section(class="media-center")
    div(class="container") 
        div(class="title-with-all") 
            div(class="main-title") 
                img(class="img-fluid",src="images/icons/socaity.svg",alt="kingdowm") 
                h2 Unuveristy Socaity 
            div(class="all-decisions")    
                    a(href="#",class="btn-articles")
                        img(src="images/icons/allServices.svg",alt="allArticles")
                        | All Articles  
    div(class="content")
        div(class="media-carousel owl-carousel owl-theme wow fadeInUp" data-wow-duration="1.3s" data-wow-delay=".1s")
            div(class="media-box")
                div(class="image")
                    img(src="images/media/01.svg",alt="",class="img-fluid")
                div(class="title")
                    a(href="#!")  natshonial day 91 by presiedent
            div(class="media-box")
                div(class="image")
                    img(src="images/media/02.svg",alt="",class="img-fluid")
                div(class="title")
                    a(href="#!")  natshonial day 91 by presiedent
            div(class="media-box")
                div(class="image")
                    img(src="images/media/03.svg",alt="",class="img-fluid")
                div(class="title")
                    a(href="#!")  natshonial day 91 by presiedent
            div(class="media-box")
                div(class="image")
                    img(src="images/media/04.svg",alt="",class="img-fluid")
                div(class="title")
                    a(href="#!")  natshonial day 91 by presiedent
            div(class="media-box")
                div(class="image")
                    img(src="images/media/05.svg",alt="",class="img-fluid")
                div(class="title")
                    a(href="#!")  natshonial day 91 by presiedent                                
//Condolences

section(class="condolences")
     div(class="container")
        div(class="main-title") 
            h2 condolences
        div(class="content")
            div(class="condolences-carousel owl-carousel owl-theme")
                div(class="condolences-box")
                    div(class="title")
                        p(class="") univeristy is condolences | (....)
                        p(class="text") May God bestow your condolences on your affliction. We belong to God and to Him we shall return
                div(class="condolences-box")
                    div(class="title")
                        p(class="") univeristy is condolences | (....)
                        p(class="text") May God bestow your condolences on your affliction. We belong to God and to Him we shall return
                div(class="condolences-box")
                    div(class="title")
                        p(class="") univeristy is condolences | (....)
                        p(class="text") May God bestow your condolences on your affliction. We belong to God and to Him we shall return 
                div(class="condolences-box")
                    div(class="title")
                        p(class="") univeristy is condolences | (....)
                        p(class="text") May God bestow your condolences on your affliction. We belong to God and to Him we shall return 
                div(class="condolences-box")
                    div(class="title")
                        p(class="") univeristy is condolences | (....)
                        p(class="text") May God bestow your condolences on your affliction. We belong to God and to Him we shall return 
                div(class="condolences-box")
                    div(class="title")
                        p(class="") univeristy is condolences | (....)
                        p(class="text") May God bestow your condolences on your affliction. We belong to God and to Him we shall return                         