extends index
block home_block
    div(class="main-breadcrumb")
        div(class="container")
            ul(class="breadcrumb")
                li(class="breadcrumb-item")
                    a(href="index.html") الرئيسية
                li(class="breadcrumb-item active")
                    a(href="#!") لقاءات 
                        
    section(class="article-section report-section wow fadeInUp",  data-wow-duration="1s" data-wow-delay="1s")
        div(class="container")
            div(class="page-title")
                h4 لقاءات 
            div(class="content") 
                div(class="row")
                    div(class="col-md-4 wow fadeInRight",  data-wow-duration="1s" data-wow-delay="1.5s")
                        div(class="article-box report-box")
                            div(class="article-thumbnail report-box")
                                img(src="../images/mettings/page/01.png",alt="article",class="img-fluid")
                                div(class="author")
                                    p تاريخ الإضافة: الأحد, 2022/05/08 - 09:55
                            div(class="article-text report-text")
                                h5
                                    a(href="single-meeting.html") رحلة طلب علم .. من غينيا بيساو إلى الخرج
                    div(class="col-md-4 wow fadeInLeft",  data-wow-duration="1s" data-wow-delay="1.5s")
                        div(class="article-box")
                            div(class="article-thumbnail")
                                img(src="../images/mettings/page/02.png",alt="article",class="img-fluid")
                                div(class="author")
                                    p تاريخ الإضافة: الأحد, 2022/05/08 - 09:55
                            div(class="article-text")
                                h5
                                    a(href="single-meeting.html") حوار لصحيفة جامعتي مع موظف إدارة الأمن بالجامعة جوهر بن سعد الخيبري
                              
                    div(class="col-md-4 wow fadeInRight",  data-wow-duration="1s" data-wow-delay="1.5s")
                        div(class="article-box")
                            div(class="article-thumbnail")
                                img(src="../images/mettings/page/03.png",alt="article",class="img-fluid")
                                div(class="author")
                                    p تاريخ الإضافة: الأحد, 2022/05/08 - 09:55
                            div(class="article-text")
                                h5
                                    a(href="single-meeting.html") وكيلة الجامعة لشؤون الطالبات في حوار صحفي
  
                    div(class="col-md-4 wow fadeInRight",  data-wow-duration="1s" data-wow-delay="1.5s")
                        div(class="article-box")
                            div(class="article-thumbnail")
                                img(src="../images/mettings/page/03.png",alt="article",class="img-fluid")
                                div(class="author")
                                    p تاريخ الإضافة: الأحد, 2022/05/08 - 09:55
                            div(class="article-text")
                                h5
                                    a(href="single-meeting.html") وكيلة الجامعة لشؤون الطالبات في حوار صحفي
                    div(class="col-md-4 wow fadeInRight",  data-wow-duration="1s" data-wow-delay="1.5s")
                        div(class="article-box report-box")
                            div(class="article-thumbnail report-box")
                                img(src="../images/mettings/page/01.png",alt="article",class="img-fluid")
                                div(class="author")
                                    p تاريخ الإضافة: الأحد, 2022/05/08 - 09:55
                            div(class="article-text report-text")
                                h5
                                    a(href="single-meeting.html") رحلة طلب علم .. من غينيا بيساو إلى الخرج
                    div(class="col-md-4 wow fadeInLeft",  data-wow-duration="1s" data-wow-delay="1.5s")
                        div(class="article-box")
                            div(class="article-thumbnail")
                                img(src="../images/mettings/page/02.png",alt="article",class="img-fluid")
                                div(class="author")
                                    p تاريخ الإضافة: الأحد, 2022/05/08 - 09:55
                            div(class="article-text")
                                h5
                                    a(href="single-meeting.html") حوار لصحيفة جامعتي مع موظف إدارة الأمن بالجامعة جوهر بن سعد الخيبري
                              
                div(class="pagination navigation")
                    nav(aria-label="Page navigation example")
                        ul(class="pagination")
                            li(class="page-item prev")
                                a(class="page-link", href="#", aria-label="Previous")
                                    span(aria-hidden="true"  class="bi bi-chevron-right")
                            li(class="page-item active")
                                a(class="page-link", href="#") 1
                            li(class="page-item")
                                a(class="page-link", href="#") 2
                            li(class="page-item")
                                a(class="page-link", href="#") ...
                            li(class="page-item")
                                a(class="page-link", href="#") 9
                            li(class="page-item")
                                a(class="page-link", href="#") 10        
                            li(class="page-item")
                                a(class="page-link next", href="#", aria-label="Next")
                                    span(aria-hidden="true"  class="bi bi-chevron-left")

                                                                            