extends index
block home_block
    div(class="main-breadcrumb")
        div(class="container")
            ul(class="breadcrumb")
                li(class="breadcrumb-item")
                    a(href="index.html") الرئيسية
                li(class="breadcrumb-item active")
                    a(href="#!") الأخبار 
                        
    section(class="news-section wow fadeInUp",  data-wow-duration="1s" data-wow-delay="1s")
        div(class="container")
            div(class="page-title")
                h4 الأخبار 
            div(class="content") 
                div(class="row")
                    div(class="col-md-6 wow fadeInRight",  data-wow-duration="1s" data-wow-delay="1.5s")
                        div(class="news-box")
                            div(class="news-thumbnail")
                                img(src="../images//news/01.svg",alt="news",class="img-fluid")
                            div(class="news-title")
                                h5
                                    a(href="single-news.html") رئيس الجامعة يدشّن منصة الإرشاد الأكاديمي الرقمي ( وجّهني )
                            div(class="news-meta")
                                div(class="time")
                                    i(class="bi bi-calendar")
                                    |  الأحد . 1/11/1444 - 24 أكتوبر 2022
                                div(class="read-more")
                                    a(href="single-news.html")
                                        span اقراء التفاصيل
                                        img(class="more-icon",src="../images//icons/more-details.svg")
                    div(class="col-md-6 wow fadeInLeft",  data-wow-duration="1s" data-wow-delay="1.5s")
                        div(class="news-box")
                            div(class="news-thumbnail")
                                img(src="../images//news/02.svg",alt="news",class="img-fluid")
                            div(class="news-title")
                                h5
                                    a(href="single-news.html") المكتبة بكلية العلوم بحوطة بني تميم تُقيم برنامجًا تعريفيًا عن خدماتها للطالبات المستجدات
                            div(class="news-meta")
                                div(class="time")
                                    i(class="bi bi-calendar")
                                    |  الأحد . 1/11/1444 - 24 أكتوبر 2022
                                div(class="read-more")
                                    a(href="single-news.html")
                                        span اقراء التفاصيل
                                        img(class="more-icon",src="../images//icons/more-details.svg")
                    div(class="col-md-6 wow fadeInRight",  data-wow-duration="1s" data-wow-delay="1.5s")
                        div(class="news-box")
                            div(class="news-thumbnail")
                                img(src="../images//news/03.svg",alt="news",class="img-fluid")
                            div(class="news-title")
                                h5
                                    a(href="single-news.html") عميد كلية إدارة الأعمال بالحوطة في جولة تفقدية لشؤون تسجيل الطلاب للمقررات في اليوم الدراسي الأول من الفصل الأول
                            div(class="news-meta")
                                div(class="time")
                                    i(class="bi bi-calendar")
                                    |  الأحد . 1/11/1444 - 24 أكتوبر 2022
                                div(class="read-more")
                                    a(href="single-news.html")
                                        span اقراء التفاصيل
                                        img(class="more-icon",src="../images//icons/more-details.svg")                    
                    div(class="col-md-6 wow fadeInLeft",  data-wow-duration="1s" data-wow-delay="1.5s")
                        div(class="news-box")
                            div(class="news-thumbnail")
                                img(src="../images//news/04.svg",alt="news",class="img-fluid")
                            div(class="news-title")
                                h5
                                    a(href="single-news.html") جامعة الأمير سطام تقيم لقاءً بأعضاء هيئة التدريس والطلاب حول الخطط الدراسية المعتمدة للفصول الدراسية الثلاثة
                            div(class="news-meta")
                                div(class="time")
                                    i(class="bi bi-calendar")
                                    |  الأحد . 1/11/1444 - 24 أكتوبر 2022
                                div(class="read-more")
                                    a(href="single-news.html")
                                        span اقراء التفاصيل
                                        img(class="more-icon",src="../images//icons/more-details.svg")     
                div(class="pagination navigation")
                    nav(aria-label="Page navigation example")
                        ul(class="pagination")
                            li(class="page-item prev")
                                a(class="page-link", href="#", aria-label="Previous")
                                    span(aria-hidden="true"  class="bi bi-chevron-right")
                            li(class="page-item active")
                                a(class="page-link", href="#") 1
                            li(class="page-item")
                                a(class="page-link", href="#") 2
                            li(class="page-item")
                                a(class="page-link", href="#") ...
                            li(class="page-item")
                                a(class="page-link", href="#") 9
                            li(class="page-item")
                                a(class="page-link", href="#") 10        
                            li(class="page-item")
                                a(class="page-link next", href="#", aria-label="Next")
                                    span(aria-hidden="true"  class="bi bi-chevron-left")

                                                                            