extends index
block home_block
    div(class="main-breadcrumb")
        div(class="container")
            ul(class="breadcrumb")
                li(class="breadcrumb-item")
                    a(href="index.html") الرئيسية
                li(class="breadcrumb-item active")
                    a(href="#!") التقارير
                        
    section(class="article-section report-section wow fadeInUp",  data-wow-duration="1s" data-wow-delay="1s")
        div(class="container")
            div(class="page-title")
                h4 التقارير
            div(class="content") 
                div(class="row")
                    div(class="col-md-6 wow fadeInRight",  data-wow-duration="1s" data-wow-delay="1.5s")
                        div(class="article-box report-box")
                            div(class="article-thumbnail report-box")
                                img(src="../images/reports/01.png",alt="article",class="img-fluid")
                                div(class="author")
                                    p  الأحد . 1/11/1444 - 24 أكتوبر 2022
                            div(class="article-text report-text")
                                h5
                                    a(href="single-report.html")  جامعة الأمير سطام بن عبدالعزيز تختتم مشاركتها في المؤتمر والمعرض الدولي للتعليم 2022م بمدينة الرياض
                    div(class="col-md-6 wow fadeInLeft",  data-wow-duration="1s" data-wow-delay="1.5s")
                        div(class="article-box")
                            div(class="article-thumbnail")
                                img(src="../images/reports/02.png",alt="article",class="img-fluid")
                                div(class="author")
                                    p  الأحد . 1/11/1444 - 24 أكتوبر 2022
                            div(class="article-text")
                                h5
                                    a(href="single-report.html") عمادة شؤون المكتبات نحو التحول الرقمي في المرجع الرئيسي للخدمات والمصادر المعرفية بكافة أنواعها
                              
                    div(class="col-md-6 wow fadeInRight",  data-wow-duration="1s" data-wow-delay="1.5s")
                        div(class="article-box")
                            div(class="article-thumbnail")
                                img(src="../images/reports/03.png",alt="article",class="img-fluid")
                                div(class="author")
                                    p  الأحد . 1/11/1444 - 24 أكتوبر 2022
                            div(class="article-text")
                                h5
                                    a(href="single-report.html") تقرير موسع : مركز المهارات السريرية والمحاكاة بكلية الطب صرح متخصص وحلقة وصل أساسية بين المعرفة والتطبيق
  
                    div(class="col-md-6 wow fadeInRight",  data-wow-duration="1s" data-wow-delay="1.5s")
                        div(class="article-box")
                            div(class="article-thumbnail")
                                img(src="../images/reports/04.png",alt="article",class="img-fluid")
                                div(class="author")
                                    p  الأحد . 1/11/1444 - 24 أكتوبر 2022
                            div(class="article-text")
                                h5
                                    a(href="single-report.html") تقرير موسع : معامل كلية هندسة وعلوم الحاسب صرحاً تعليمياً متقدم ورعاية تقنية متكاملة
                         
                div(class="pagination navigation")
                    nav(aria-label="Page navigation example")
                        ul(class="pagination")
                            li(class="page-item prev")
                                a(class="page-link", href="#", aria-label="Previous")
                                    span(aria-hidden="true"  class="bi bi-chevron-right")
                            li(class="page-item active")
                                a(class="page-link", href="#") 1
                            li(class="page-item")
                                a(class="page-link", href="#") 2
                            li(class="page-item")
                                a(class="page-link", href="#") ...
                            li(class="page-item")
                                a(class="page-link", href="#") 9
                            li(class="page-item")
                                a(class="page-link", href="#") 10        
                            li(class="page-item")
                                a(class="page-link next", href="#", aria-label="Next")
                                    span(aria-hidden="true"  class="bi bi-chevron-left")

                                                                            