extends index
block home_block
    div(class="main-breadcrumb")
        div(class="container")
            ul(class="breadcrumb")
                li(class="breadcrumb-item")
                    a(href="index.html") الرئيسية
                li(class="breadcrumb-item active")
                    a(href="#!") المقالات 
    div(class="single-article")
        div(class="container") 
            div(class="article-detail")
                div(class="article-thumbnail")    
                    img(src="../images/articles/singlearticle.png",alt="news",class="img-fluid")
                div(class="article-text")
                    h4(class="title") مساحات تويتر.. تبادل معرفي وفكري
                    div(class="article-author")
                        img(class="author-img",src="images/articles/author.png")
                        p  بقلم : الصيدلانية: إسراء عبدالله العثمان
                    article
                        p إن مسايرة الانفجار المعرفي، والاستفادة من التقدم التكنولوجي في إيصال المعرفة الجديدة لكل فرد نظرا للتقدم المتسارع في مجال العلم والمعرفة الذي نعيشه في هذا العصر يتطلب من الفرد الاستمرار في التعلم،  فلم يعد من المجدي أن يقف المرء عن التعلم بمجرد انتهاء سنوات التعلم في المراحل الدراسية فقط ،فإنه ممالا شك فيه أننا نحيا في عصرٍ مختلف بكل المقاييس عن العصور الماضية، فهذا العصر هو عصر المعلومات مما يعني أن القوة الحقيقيَّة الآن لمن يمتلك المعلومات ويستطيع استخدامها وتطبيقها عملياً بما يناسب مع احتياجات ومُتطلَّبات العصر ، ومن هنا جاءت الحاجة إلى التعلُّم الذاتي بأساليبه المختلفة حيث تتيح للفرد توظيف مهارات التعلم بفاعلية عالية مدفوعا برغبته الخاصة، وتمكنه من التعلم في كل الأوقات، وتساعده في تنمية استعداداته وإمكاناته وقدراته بما يتلاءم مع حاجاته واهتماماته وميوله.
                        p   وتعد مساحات التويتر أحد الفرص غير التقليدية للتعلم الذاتي وتبادل الخبرة المعرفية والعلمية وتحقيق أهداف لتغيير الشخصية والأنماط السلوكية والمعرفية نحو مستويات أفضل من النماء والارتقاء.
                        p فهي تتيح للفرد التعلم الذاتي وفق شغفه وميوله عن طريق الانضمام إلى هذه المساحات المحدد ة ، وإجراء تبادل معرفي وخبرات بين الأعضاء من خلال غرف صوتية حول أي موضوع ذي أهمية فيتم مناقشة موضوعات وتحديات وفرص سواء في مجال تخصصك أو عملك أو تجارتك، أو حتى على صعيد أسلوب الحياة حيث يتم استضافة أشخاص ذوي خبرة في مجالاتهم من أماكن شتى من العالم، كذلك يحق لكل فرد طرح خبرته أو سؤاله كي يتم الإجابة عنه من أصحاب الخبرة والتجارب ومن مميزاتها أيضا توفر منحى تعليمي أقصر وأسرع ،وتساعد على التخلص من المنتجات الضعيفة الأداء واختبار الأفكار الجديدة كذلك تتيح الحصول على تغذية راجعة بطريقة سهلة وسريعة، والتواصل مع خبرات متعددة من شتى أنحاء العالم في وقت واحد دون أي تكلفة مادية بالإضافة الى أنها تتيح تكوين علاقات جيدة نافعة للتبادل المعرفي والخبرات والتجارب لتخصصات مختلفة ودقيقة.
                        p وفي الختام لا ننسى أن ننوه بأهمية اختيار المساحات ذات المواضيع الهادفة من الأشخاص ذوي الخبرة والكفاءة.
        div(class="share")
            hr
            div(class="news-option")
                div(class="container")
                    div(class="content")
                        div(class="font-size")
                            div(class="row g-3 align-items-center")
                                div(class="col-auto")
                                    label(for="inputPassword6", class="col-form-label") حجم الخط
                                div(class="col-auto d-flex")
                                    button(class="btn form-button") + 
                                    button(class="btn form-button") -                                                                                     
                        div(class="share-options")
                            p
                                | مشاركة 
                                img(src="images/icons/shareen.svg")
                            ul(class="socail-media")
                                li 
                                    a(href="#!")
                                        i(class="bi bi-whatsapp") 
                                li 
                                    a(href="#!")
                                        i(class="bi bi-linkedin")                                                                                                                              
                                li 
                                    a(href="#!")
                                        i(class="bi bi-facebook")                                                                                                                              
                                li 
                                    a(href="#!")
                                        i(class="bi bi-twitter")             