extends index
block home_block
    div(class="main-breadcrumb")
        div(class="container")
            ul(class="breadcrumb")
                li(class="breadcrumb-item")
                    a(href="index.html") الرئيسية
                li(class="breadcrumb-item active")
                    a(href="#!") مجتمع الجامعة
    section(class="socaity no-before")
        div(class="container")  
            div(class="page-title")
                h4 مجتمع الجامعة          
            div(class="content mt-5")
                div(class="row")
                    div(class="col-md-4")
                        div(class="socaity-box")
                            div(class="image")
                                img(src="../images/socaity/1.png",alt="socaity",class="img-fluid")
                            div(class="text")
                                a(href="#!",data-bs-toggle="modal" data-bs-target="#socaityModal") تبارك الجامعة  لزفاف  ا / وليد السليطين زواج مبارك دامت السعادة في دنياكم
                    div(class="col-md-4")
                        div(class="socaity-box")
                            div(class="image")
                                img(src="../images/socaity/2.png",alt="socaity",class="img-fluid")
                            div(class="text")
                                 a(href="#!",data-bs-toggle="modal" data-bs-target="#socaityModal") ارق تحيات الجامعه ل ا/ عبد الرحمن البطاينه وأجمل التهاني بالمولود السعيد، رزقك الله بره وجعله من الصالحين البارين بوالديهم
                    div(class="col-md-4")
                        div(class="socaity-box")
                            div(class="image")
                                img(src="../images/socaity/3.png",alt="socaity",class="img-fluid")
                            div(class="text")
                                 a(href="#!",data-bs-toggle="modal" data-bs-target="#socaityModal") نبارك ل ا / نايف القحطاني على منصبك الجديد، ونتمنى أن يُسدد الله خطاك، ويكتب لك الخير في كل خطوة.
                    div(class="col-md-4")
                        div(class="socaity-box")
                            div(class="image")
                                img(src="../images/socaity/6.png",alt="socaity",class="img-fluid")
                            div(class="text")
                                 a(href="#!",data-bs-toggle="modal" data-bs-target="#socaityModal") تبارك الجامعة  لزفاف  ا / وليد السليطين زواج مبارك دامت السعادة في دنياكم
                    div(class="col-md-4")
                        div(class="socaity-box")
                            div(class="image")
                                img(src="../images/socaity/4.png",alt="socaity",class="img-fluid")
                            div(class="text")
                                 a(href="#!",data-bs-toggle="modal" data-bs-target="#socaityModal") ارق تحيات الجامعه ل ا/ عبد الرحمن البطاينه وأجمل التهاني بالمولود السعيد، رزقك الله بره وجعله من الصالحين البارين بوالديهم
                    div(class="col-md-4")
                        div(class="socaity-box")
                            div(class="image")
                                img(src="../images/socaity/5.png",alt="socaity",class="img-fluid")
                            div(class="text")
                                 a(href="#!",data-bs-toggle="modal" data-bs-target="#socaityModal") نبارك ل ا / نايف القحطاني على منصبك الجديد، ونتمنى أن يُسدد الله خطاك، ويكتب لك الخير في كل خطوة.
                        
    #socaityModal(class="modal fade socaity-modal", tabindex="-1", aria-labelledby="exampleModalLabel", aria-hidden="true")
        div(class="modal-dialog")
            div(class="modal-content")
                div(class="modal-header") 
                    button(type="button", class="close", data-bs-dismiss="modal", aria-label="Close")
                        i(class="bi bi-x-lg")
                div(class="modal-body")
                    div(class="modal-image")
                        img(src="../images/socaity/socaity.png",alt="decision photo")  
                    div(class="modal-text")
                        h4 تبارك الجامعة  لزفاف  ا / وليد السليطين زواج مبارك دامت السعادة في دنياكم
                        p ونشر ثقافة الوسطية والاعتدال وإعداد علماء متخصصين فاعلين في مجتمعاتهم في جميع التخصصات واستقطاب الطلبة المميزين علمياً لتحقيق التنوع وإثراء البحث العلمي إضافة إلى إقامة الروابط العلمية والثقافية مع المؤسسات التعليمية والهيئات والمؤسسات الإسلامية والعلمية في العالم وتوثيقها لخدمة الإنسانية وتعزيز التضامن بين المملكة ودول العالم وتعريف الطلاب في المملكة بما تشهده من نهضة علمية واقتصادية وسياسية واجتماعية وصحية.