extends index
block home_block
    div(class="main-breadcrumb")
        div(class="container")
            ul(class="breadcrumb")
                li(class="breadcrumb-item")
                    a(href="#!") Main Page
                li(class="breadcrumb-item active")
                    a(href="#!") Contact Us
                        
    section(class="contact-us report-section wow fadeInUp",  data-wow-duration="1s" data-wow-delay="1s")
        div(class="container")
            div(class="page-title  wow slideInUp" data-wow-duration="1.3s" data-wow-delay="0s")
                h4 Contact Us
            div(class="page-description")
                p  Contact Us To Solve Any Problem You may Face 
            div(class="content modal-form")
                div(class="row")
                    div(class="col-md-10")
                        form(class="needs-validation" novalidate)
                            div(class="row")
                                div(class="col-md-6")  
                                    div(class="form-floating mb-3")
                                        input#username(type="text", class="form-control", placeholder="username" required)
                                        label(for="username") username 
                                div(class="col-md-6")         
                                    div(class="form-floating mb-3")
                                        input#email(type="email", class="form-control", placeholder="email" required)
                                        label(for="email") email 
                                div(class="col-md-6")         
                                    div(class="form-floating mb-3")
                                        input#mobilenumer(type="text", class="form-control", placeholder="mobilenumer" required)
                                        label(for="mobilenumer") mobilenumer  
                                div(class="col-md-6")         
                                    div(class="form-floating mb-3")
                                        input#distance(type="text", class="form-control", placeholder="distance" required)
                                        label(for="distance") distance   
                                div(class="col-md-12")     
                                    div(class="form-floating mb-3")
                                        textarea#comments(class="form-control", placeholder="Leave a comment here")
                                        label(for="comments") Comments
                                        
                                div(class="col-md-3") 
                                    div(class="verify_code mb-3")
                                        label(for="text") Verfication Code 
                                        p(id="code")
                                div(class="col-md-9")
                                    div(class="form-inline mb-3")
                                        label whats is code in image
                                        input(class="form-control",type="text")
                            button(type="submit", class="btn btn-primary ") send


