extends index
block home_block
    div(class="main-breadcrumb")
        div(class="container")
            ul(class="breadcrumb")
                li(class="breadcrumb-item")
                    a(href="#!") Main Page
                li(class="breadcrumb-item active")
                    a(href="#!") Articles 
    div(class="single-article")
        div(class="container") 
            div(class="article-detail")
                div(class="article-thumbnail")    
                    img(src="../images//mettings/page/single2.svg",alt="news",class="img-fluid")
                div(class="article-text")
                    h4(class="title") Twitter Spaces..a knowledge and intellectual exchange
                    div(class="article-author") 
                        p Written by: Pharmacist: Israa Abdullah Al-Othman
                    article
                        p Non laborum amet dolor deserunt officia dolore enim elit. Non laborum amet dolor deserunt officia dolore enim elit.Non laborum amet dolor deserunt officia dolore enim elit.Non laborum amet dolor deserunt officia dolore enim elit.Non laborum amet dolor deserunt officia dolore enim elit.Non laborum amet dolor deserunt officia dolore enim elit.
                        p Non laborum amet dolor deserunt officia dolore enim elit.Non laborum amet dolor deserunt officia dolore enim elit.Non laborum amet dolor deserunt officia dolore enim elit.Non laborum amet dolor deserunt officia dolore enim elit.Non laborum amet dolor deserunt officia dolore enim elit.Non laborum amet dolor deserunt officia dolore enim elit.Non laborum amet dolor deserunt officia dolore enim elit.Non laborum amet dolor deserunt officia dolore enim elit.Non laborum amet dolor deserunt officia dolore enim elit.Non laborum amet dolor deserunt officia dolore enim elit.Non laborum amet dolor deserunt officia dolore enim elit.Non laborum amet dolor deserunt officia dolore enim elit.Non laborum amet dolor deserunt officia dolore enim elit.
                        p Magna ea do nostrud adipisicing exercitation mollit ea sit id sit duis consectetur irure. Ut veniam ut Lorem aliqua velit velit amet voluptate incididunt est amet consectetur qui. Irure nisi sint qui sint consequat consectetur mollit est aute. Ad veniam velit irure dolor. Aliquip id exercitation culpa consequat exercitation sit commodo commodo laboris nisi veniam minim anim.
                        p Cillum adipisicing aliquip non nulla irure culpa elit eiusmod consectetur mollit in ex laboris ut. In minim ex culpa amet nulla nostrud ullamco. Reprehenderit voluptate est nisi officia dolore esse aliquip fugiat incididunt ipsum elit dolore dolore. Velit enim mollit ea sint elit. Proident ipsum ullamco officia Lorem aute officia magna elit in ipsum velit do mollit. Ut cupidatat sint eiusmod quis velit elit culpa Lorem. Nisi dolor magna dolor proident esse esse.
                        p Exercitation excepteur ex veniam quis est eiusmod exercitation magna dolore fugiat anim. Occaecat labore enim pariatur qui incididunt. Do amet incididunt consectetur exercitation laboris. Id labore deserunt est incididunt ut reprehenderit Lorem esse velit id excepteur. Quis laboris fugiat dolore laborum est duis proident minim adipisicing. Est aute commodo ea qui sint incididunt dolore fugiat do. Dolor dolor reprehenderit dolore enim aliqua consectetur incididunt laboris incididunt dolor non eu amet.
                        p In conclusion, we do not forget to note the importance of choosing spaces with purposeful subjects from experienced and competent people.
        div(class="share")
            hr
            div(class="news-option")
                div(class="container")
                    div(class="content")
                        div(class="font-size")
                            div(class="row g-3 align-items-center")
                                div(class="col-auto")
                                    label(for="inputPassword6", class="col-form-label") font size
                                div(class="col-auto d-flex")
                                    button(class="btn form-button") + 
                                    button(class="btn form-button") -                                                                                     
                        div(class="share-options")
                            p
                                | share 
                                img(src="../images//icons/shareen.svg")
                            ul(class="socail-media")
                                li 
                                    a(href="#!")
                                        i(class="bi bi-whatsapp") 
                                li 
                                    a(href="#!")
                                        i(class="bi bi-linkedin")                                                                                                                              
                                li 
                                    a(href="#!")
                                        i(class="bi bi-facebook")                                                                                                                              
                                li 
                                    a(href="#!")
                                        i(class="bi bi-twitter")             