//to top
div(id="toTop")
	button 
		i(class="bi bi-chevron-double-up")
//to top

//footer part
footer
	div(class="container")
		div(class="footer-content")
			div(class="row")
				div(class="col-lg-4 col-md-6")
					div(class="footer-box")
						div(class="text") 
							h3 رئيس التحرير
						ul(class="map-links")
							li
								a(href="#!") عبد الله بن حماد التميمي
					//- div(class="footer-box")
					//- 	div(class="text") 
					//- 		h3 Manger Editor
					//- 	ul(class="map-links") 			
				div(class="col-lg-4 col-md-6")
					div(class="footer-box")
						h3 اعضاء هيئة التحرير
						ul(class="map-links")
							li
								a(href="#!") عبد العزيز عبد الله الفرناس
							li
								a(href="#!") عاصم بن علي الغامدي
							li
								a(href="#!") نادية مانع العنزي
							li 
								a(href="#!") مني عبد الله الدوسري

				div(class="col-lg-4 col-md-12")
					div(class="footer-box")
						h3 التصوير
						ul(class="map-links")
							li
								a(href="#!") حسن محمد الجنيب
					div(class="footer-box")
						h3 الفريق التقني
						ul(class="map-links")
							li
								a(href="#!") ادارة التطبيقات
							li(class="no-dot")
								a(href="#!") عمادة تقنية المعلومات والتعليم عن بعد	
 	
div(class="copyright")
	div(class="copy-text")
		p جميع الحقوق محفوظة &copy; جامعة الامير سطام بن عبد العزيز 1444ه - 2022م
		a(href="https://itdl.psau.edu.sa/") تصميم وتنفيذ عمادة تقنية المعلومات والتعليم عن بعد	
//footer part