//main slider
section(class="news--area section-padding-80")
    div(class="container")
        div(class="row no-gutters") 
            div(class="col-md-5")
                #v-pills-tabContent(class="tab-content")
                    #post-1(class="tab-pane fade show active  wow fadeInLeft",  data-wow-duration="1s" data-wow-delay="0.5s" role="tabpanel", aria-labelledby="post-1") 
                        div(class="single--news--active")
                            div(class="single--news--thumbanial")
                                img(src="../images/news-slider/02.png",alt="",class="img-fluid")
                            div(class="single--news--content")
                                    h6(class="post-title")  جامعة الأمير سطام تشارك في بطولة الجامعات السعودية للكاراتية
                                    div(class="post-meta") 
                                        div(class="time")
                                            i(class="bi bi-calendar")
                                            |   الأحد . 1/11/1444 - 24 أكتوبر 2022
                                        div(class="time") 
                                            i(class="bi bi-geo-alt-fill")
                                            | الخرج
                                        div(class="view")
                                            span(class="view")
                                                i(class="bi bi-eye-fill")    
                                                |  1222
                                                
                                            span(class="view")
                                                i(class="bi bi-chat")    
                                                |  16425  
                    #post-2(class="tab-pane fade wow fadeInLeft",  data-wow-duration="1s" data-wow-delay="1s", role="tabpanel", aria-labelledby="post-2")  
                        div(class="single--news--active")
                            div(class="single--news--thumbanial")
                                img(src="../images/news-slider/02.png",alt="",class="img-fluid")
                            div(class="single--news--content")
                                    h6(class="post-title")   جامعة الأمير سطام تشارك في بطولة الجامعات السعودية للكاراتية
                                    div(class="post-meta") 
                                        div(class="time")
                                            i(class="bi bi-calendar")
                                            |  الأحد . 1/11/1444 - 24 أكتوبر 2022
                                        div(class="time") 
                                            i(class="bi bi-geo-alt-fill")
                                            | El Karja
                                        div(class="view")
                                            span(class="view")
                                                i(class="bi bi-eye-fill")    
                                                |  1222
                                                
                                            span(class="view")
                                                i(class="bi bi-chat")    
                                                |  16425  
            div(class="col-md-7")
                div(class="main-title title-with-border") 
                    div(class="news-title") 
                        h5 أحدث الاخبار  
                    div(class="border-between")    
                    a(href="#",class="btn-articles")
                        img(src="../images/icons/allServices.svg",alt="allArticles")
                        | جميع الاخبار
                             
                #v-pills-tab(class="nav flex-column nav-pills me-3", role="tablist", aria-orientation="vertical")
                    button#post-1-tab(class="nav-link active", data-bs-toggle="pill", data-bs-target="#post-1", type="button", role="tab", aria-controls="post-1", aria-selected="true")
                        div(class="single--news")
                                div(class="single--news--thumbanial")
                                    img(src="../images/news-slider/01.png",alt="",class="img-fluid")
                                div(class="single--news--content")
                                    h6(class="post-title")  جامعة الأمير سطام تشارك في بطولة الجامعات السعودية للكاراتية
                                    div(class="post-meta") 
                                        div(class="time")
                                            i(class="bi bi-calendar")
                                            |  الأحد . 1/11/1444 - 24 أكتوبر 2022 
                                        div(class="time") 
                                            i(class="bi bi-geo-alt-fill")
                                            | الخرج    
                                        div(class="view")
                                            span(class="view")
                                                i(class="bi bi-eye-fill")    
                                                |  1222
                                            span(class="view")
                                                i(class="bi bi-chat")    
                                                |  16425
                    button#post-2-tab(class="nav-link", data-bs-toggle="pill", data-bs-target="#post-2", type="button", role="tab", aria-controls="post-2", aria-selected="false") 
                        div(class="single--news")
                                div(class="single--news--thumbanial")
                                    img(src="../images/news-slider/sm-2.svg",alt="",class="img-fluid")
                                div(class="single--news--content")
                                    h6(class="post-title")  بالتعاون مع مؤسسة "العنود" الخيرية كلية التربية بالخرج تنظم اللقاء الدوري "لقاء الخميس"
                                    div(class="post-meta") 
                                        div(class="time")
                                            i(class="bi bi-calendar")
                                            |  الأحد . 1/11/1444 - 24 أكتوبر 2022
                                        div(class="time") 
                                            i(class="bi bi-geo-alt-fill")
                                            | الخرج  
                                        div(class="view")
                                            span(class="view")
                                                i(class="bi bi-eye-fill")    
                                                |  1222
                                            span(class="view")
                                                i(class="bi bi-chat")    
                                                |  16425     
                    button#post-3-tab(class="nav-link", data-bs-toggle="pill", data-bs-target="#post-3", type="button", role="tab", aria-controls="post-3", aria-selected="false") 
                        div(class="single--news")
                                div(class="single--news--thumbanial")
                                    img(src="../images/news-slider/sm-2.svg",alt="",class="img-fluid")
                                div(class="single--news--content")
                                    h6(class="post-title")  جامعة الأمير سطام تشارك في بطولة الجامعات السعودية للكاراتيه
                                    div(class="post-meta") 
                                        div(class="time")
                                            i(class="bi bi-calendar")
                                            |  الأحد . 1/11/1444 - 24 أكتوبر 2022
                                        div(class="time") 
                                            i(class="bi bi-geo-alt-fill")
                                            | الخرج  
                                        div(class="view")
                                            span(class="view")
                                                i(class="bi bi-eye-fill")    
                                                |  1222
                                            span(class="view")
                                                i(class="bi bi-chat")    
                                                |  16425  
                    button#post-4-tab(class="nav-link", data-bs-toggle="pill", data-bs-target="#post-4", type="button", role="tab", aria-controls="post-4", aria-selected="false") 
                        div(class="single--news")
                                div(class="single--news--thumbanial")
                                    img(src="../images/news-slider/sm-2.svg",alt="",class="img-fluid")
                                div(class="single--news--content")
                                    h6(class="post-title")  جامعة الأمير سطام تشارك في بطولة الجامعات السعودية للكاراتيه
                                    div(class="post-meta") 
                                        div(class="time")
                                            i(class="bi bi-calendar")
                                            |  الأحد . 1/11/1444 - 24 أكتوبر 2022
                                        div(class="time") 
                                            i(class="bi bi-geo-alt-fill")
                                            | الخرج
                                        div(class="view")
                                            span(class="view")
                                                i(class="bi bi-eye-fill")    
                                                |  1222
                                            span(class="view")
                                                i(class="bi bi-chat")    
                                                |  16425                                                              
                                                          
    div(class="fixed-contact")
        div(class="be-contact")
            a(href="#")
                img(src="../images/icons/becontact.svg",alt="contact")
                i(class="bi bi-chat-left-dots")
        div(class="socail-contact")
            ul
                li
                    a(href="#!")
                        i(class="bi bi-twitter")
                li
                    a(href="#!")
                        i(class="bi bi-facebook") 
                li
                    a(href="#!")
                        i(class="bi bi-youtube") 
                li
                    a(href="#!")
                        i(class="bi bi-instagram")         
//kingdom news 
section(class="kingdom-news")
    div(class="container")
        div(class="main-title")
            img(class="img-fluid",src="../images/home/kingdomLogo.svg",alt="kingdowm") 
            h2 أخبار المملكة
    div(class="content")
        div(class="kingdomNews-carousel   owl-carousel owl-theme")
            div(class="kingdomNews-box")
                div(class="heading")
                    div(class="image")
                        a(href="#!") 
                            img(class="img-fluid" src="../images//home/kngdowm-news/1.svg" alt="")
                    div(class="text")
                        h3 سمو ولي العهد يجتمع مع وزير الدفاع الماليزي 
            div(class="kingdomNews-box")
                div(class="heading")
                    div(class="image")
                        a(href="#!") 
                            img(class="img-fluid" src="../images//home/kngdowm-news/2.svg" alt="")
                    div(class="text")
                        h3 خادم الحرمين الشريفين يرأس جلسة مجلس الوزراء
            div(class="kingdomNews-box")
                div(class="heading")
                    div(class="image")
                        a(href="#!") 
                            img(class="img-fluid" src="../images//home/kngdowm-news/3.svg" alt="")
                    div(class="text")
                        h3 وزارةُ النقل والخدمات اللوجستية تواصلُ تنفيذَ مشروعَ ازدواج مشروع الرياض الرين بيشة
            div(class="kingdomNews-box")
                div(class="heading")
                    div(class="image")
                        a(href="#!") 
                            img(class="img-fluid" src="../images//home/kngdowm-news/4.svg" alt="")
                    div(class="text")
                        h3 خادم الحرمين الشريفين يرأس جلسة مجلس الوزراء
            div(class="kingdomNews-box")
                div(class="heading")
                    div(class="image")
                        a(href="#!") 
                            img(class="img-fluid" src="../images//home/kngdowm-news/1.svg" alt="")
                    div(class="text")
                        h3 سمو ولي العهد يجتمع مع وزير الدفاع الماليزي 
//about us
section(class="articles")
    div(class="container") 
        div(class="title-with-all")
            div(class="main-title mb-0")
                img(class="img-fluid",src="../images/icons/allArticles.svg",alt="kingdowm") 
                h2 مقالات
            div(class="all-decisions")    
                a(href="articles.html",class="btn-articles")
                    img(src="../images/icons/allServices.svg",alt="allArticles")
                    | جميع المقالات
        div(class="content")
            div(class="row")
                div(class="col-lg-3")
                    div(class="article-box wow slideInUp" data-wow-duration="1.3s" data-wow-delay=".3s")
                        div(class="heading")
                            div(class="image")
                                a(href="single-article.html") 
                                    img(class="img-fluid" src="../images/home/articles/article1.svg" alt="")
                                div(class="author")
                                    div(class="image")
                                        img(class="img-fluid" src="../images/home/articles/author2.svg" alt="")
                                    p د.إبراهيم بن محمد المسلم        
                            div(class="text")
                                h3 الوطن شعورٌ ومشاعر (في الشعر السعودي)  
                div(class="col-lg-3")
                    div(class="article-box wow slideInUp" data-wow-duration="1.3s" data-wow-delay=".3s")
                        div(class="heading")
                            div(class="image")
                                a(href="single-article.html") 
                                    img(class="img-fluid" src="../images/home/articles/article2.svg" alt="")
                                div(class="author")
                                    div(class="image")
                                        img(class="img-fluid" src="../images/home/articles/author2.svg" alt="")
                                    p د عبد السلام الناجي   
                            div(class="text")
                                h3 الفصول الدراسية الثلاثة نقلة نوعية في عصر التعليم 
                           
                div(class="col-lg-3")
                    div(class="article-box wow slideInUp" data-wow-duration="1.3s" data-wow-delay=".3s")
                        div(class="heading")
                            div(class="image")
                                a(href="single-article.html") 
                                    img(class="img-fluid" src="../images/home/articles/article3.svg" alt="")
                                div(class="author")
                                    div(class="image")
                                        img(class="img-fluid" src="../images/home/articles/author2.svg" alt="")
                                    p د. عبدالرحمن بن ابراهيم الخضيري       
                            div(class="text")
                                h3 تطوير مستمر للتعليم في المملكة العربية السعودية
                div(class="col-lg-3")
                    div(class="article-box wow slideInUp" data-wow-duration="1.3s" data-wow-delay=".3s")
                        div(class="heading")
                            div(class="image")
                                a(href="single-article.html") 
                                    img(class="img-fluid" src="../images/home/articles/article4.svg" alt="")
                                div(class="author")
                                    div(class="image")
                                        img(class="img-fluid" src="../images/home/articles/author2.svg" alt="")
                                    p  أحمد بن سهيل عجينة       
                            div(class="text")
                                h3 التعليم الالكتروني ضرورة وليس خيار                                                 
//decisions 
section(class="decisions")
    div(class="container")
        div(class="title-with-all") 
            div(class="main-title") 
                h2 قرارات ادارية
                p توفر الصحيفة متابعة يومية للقرارات الادارية لمنسوبي الجامعة
            div(class="all-decisions")    
                    a(href="decisions.html",class="btn-articles")
                        img(src="../images/icons/allServices.svg",alt="allArticles")
                        | جميع القرارات
        div(class="content")
            div(class="decisions-carousel owl-carousel owl-theme mb-5")
                div(class="decisions-box wow fadeInUp" data-wow-duration="1.3s" data-wow-delay=".3s") 
                    div(class="image")
                        img(src="../images/home/decisison/01.png")
                    div(class="text")
                        p تجديد تعين الدكتور / غالب بن حمد النهدي عميداً لعمادة البحث العلمي  
                div(class="decisions-box wow fadeInUp" data-wow-duration="1.3s" data-wow-delay=".3s")
                    div(class="image")
                        img(src="../images/home/decisison/02.png")
                    div(class="text")
                        p تجديد تعين الدكتور / غالب بن حمد النهدي عميداً لعمادة البحث العلمي
                div(class="decisions-box wow fadeInUp" data-wow-duration="1.3s" data-wow-delay=".3s")
                    div(class="image")
                        img(src="../images/home/decisison/03.png")
                    div(class="text")
                        p تجديد تعين الدكتور / غالب بن حمد النهدي عميداً لعمادة البحث العلمي
                div(class="decisions-box wow fadeInUp" data-wow-duration="1.3s" data-wow-delay=".3s")
                    div(class="image")
                        img(src="../images/home/decisison/04.png")
                    div(class="text")
                        p تجديد تعين الدكتور / غالب بن حمد النهدي عميداً لعمادة البحث العلمي
                div(class="decisions-box wow fadeInUp" data-wow-duration="1.3s" data-wow-delay=".3s")
                    div(class="image")
                        img(src="../images/home/decisison/03.png")
                    div(class="text")
                        p تجديد تعين الدكتور / غالب بن حمد النهدي عميداً لعمادة البحث العلمي
                div(class="decisions-box wow fadeInUp" data-wow-duration="1.3s" data-wow-delay=".3s")
                    div(class="image")
                        img(src="../images/home/decisison/01.png")
                    div(class="text")
                        p تجديد تعين الدكتور / غالب بن حمد النهدي عميداً لعمادة البحث العلمي    
                            

//- reports
section(class="reports")
    div(class="container") 
        div(class="title-with-all") 
            div(class="main-title") 
                img(class="img-fluid",src="../images/icons/reports.svg",alt="kingdowm") 
                h2 التقارير
            div(class="all-decisions")    
                    a(href="reports.html",class="btn-articles")
                        img(src="../images/icons/allServices.svg",alt="allArticles")
                        |  جميع التقارير          
        div(class="content")
            div(class="row")
                div(class="col-md-4")
                    div(class="report-box wow fadeInDown" data-wow-duration="1.3s" data-wow-delay=".3s")
                        div(class="image")
                            img(src="../images/home/reports/1.svg")
                        div(class="text")
                            a(href="single-report.html") عمادة شؤون المكتبات نحو التحول الرقمي في المرجع الرئيسي للخدمات والمصادر المعرفية بكافة أنواعها 
                        div(class="report-meta")
                            div(class="time")
                                i(class="bi bi-calendar")
                                |  الأحد . 1/11/1444 - 24 أكتوبر 2022
                            div(class="view")
                                span(class="view")
                                    i(class="bi bi-eye-fill")    
                                    |  1222
                                span(class="view")
                                    i(class="bi bi-chat")    
                                    |  16425
                div(class="col-md-4")
                     div(class="report-box wow fadeInDown" data-wow-duration="1.3s" data-wow-delay=".3s")
                        div(class="image")
                            img(src="../images/home/reports/2.svg")
                        div(class="text")
                            a(href="single-report.html") عمادة شؤون المكتبات نحو التحول الرقمي في المرجع الرئيسي للخدمات والمصادر المعرفية بكافة أنواعها   
                        div(class="report-meta")
                            div(class="time")
                                i(class="bi bi-calendar")
                                |  الأحد . 1/11/1444 - 24 أكتوبر 2022
                            div(class="view")
                                span(class="view")
                                    i(class="bi bi-eye-fill")    
                                    |  1222
                                span(class="view")
                                    i(class="bi bi-chat")    
                                    |  16425
                div(class="col-md-4")       
                     div(class="report-box wow fadeInDown" data-wow-duration="1.3s" data-wow-delay=".3s")
                        div(class="image")
                            img(src="../images/home/reports/3.svg")
                        div(class="text")
                            a(href="single-report.html") عمادة شؤون المكتبات نحو التحول الرقمي في المرجع الرئيسي للخدمات والمصادر المعرفية بكافة أنواعها  
                        div(class="report-meta")
                            div(class="time")
                                i(class="bi bi-calendar")
                                |  الأحد . 1/11/1444 - 24 أكتوبر 2022
                            div(class="view")
                                span(class="view")
                                    i(class="bi bi-eye-fill")    
                                    |  1222
                                span(class="view")
                                    i(class="bi bi-chat")    
                                    |  16425             
//- start mettings
 
section(class="mettings")
    div(class="container")  
        div(class="main-title title-with-border") 
            div(class="mettings-title")
                img(class="img-fluid",src="../images/icons/reportIcon.svg",alt="kingdowm") 
                h2 اللقاءات    
            div(class="border-between")    
            a(href="meetings.html",class="btn-articles")
                img(src="../images/icons/allServices.svg",alt="allArticles")
                | جميع اللقاءات           
        div(class="content")
            div(class="row")
                div(class="col-md-4")
                    div(class="report-box  wow slideInUp" data-wow-duration="1.3s" data-wow-delay=".3s")
                        div(class="image")
                            img(src="../images/mettings/01.png")
                        div(class="text")
                            a(href="single-meeting.html") عمادة شؤون المكتبات نحو التحول الرقمي في المرجع الرئيسي للخدمات والمصادر المعرفية بكافة أنواعها 
                        div(class="report-meta")
                            div(class="time")
                                i(class="bi bi-calendar")
                                |  الأحد . 1/11/1444 - 24 أكتوبر 2022
                            div(class="view")
                                span(class="view")
                                    i(class="bi bi-eye-fill")    
                                    |  1222
                                span(class="view")
                                    i(class="bi bi-chat")    
                                    |  16425
                div(class="col-md-4")
                     div(class="report-box  wow slideInUp" data-wow-duration="1.3s" data-wow-delay=".3s")
                        div(class="image")
                            img(src="../images/mettings/02.png")
                        div(class="text")
                            a(href="single-meeting.html") عمادة شؤون المكتبات نحو التحول الرقمي في المرجع الرئيسي للخدمات والمصادر المعرفية بكافة أنواعها 
                        div(class="report-meta")
                            div(class="time")
                                i(class="bi bi-calendar")
                                |  الأحد . 1/11/1444 - 24 أكتوبر 2022
                            div(class="view")
                                span(class="view")
                                    i(class="bi bi-eye-fill")    
                                    |  1222
                                span(class="view")
                                    i(class="bi bi-chat")    
                                    |  16425
                div(class="col-md-4")       
                     div(class="report-box  wow slideInUp" data-wow-duration="1.3s" data-wow-delay=".3s")
                        div(class="image")
                            img(src="../images/mettings/03.png")
                        div(class="text")
                            a(href="single-meeting.html") عمادة شؤون المكتبات نحو التحول الرقمي في المرجع الرئيسي للخدمات والمصادر المعرفية بكافة أنواعها 
                        div(class="report-meta")
                            div(class="time")
                                i(class="bi bi-calendar")
                                |  الأحد . 1/11/1444 - 24 أكتوبر 2022
                            div(class="view")
                                span(class="view")
                                    i(class="bi bi-eye-fill")    
                                    |  1222
                                span(class="view")
                                    i(class="bi bi-chat")    
                                    |  16425             

//- start adds 
seciton(class="ads")
    div(class="container")
        div(class="main-title")
            h2 اعلانات الصحيفة
            p هذا الجزء مخصص لاعلانات الصحيفة
        div(class="row")
            div(class="col-md-6")
                div(class="image wow bounceInRight" data-wow-duration="1.3s" data-wow-delay=".3s")
                    a(href="#!") 
                        img(class="img-fluid" src="../images/ads/1.png" alt="")   
            div(class="col-md-6")
                div(class="image wow bounceInLeft" data-wow-duration="1.3s" data-wow-delay=".3s")
                    a(href="#!") 
                        img(class="img-fluid" src="../images/ads/2.png" alt="")  
//- univeristy sociaty
section(class="socaity")
    div(class="container") 
        div(class="title-with-all") 
            div(class="main-title") 
                img(class="img-fluid",src="../images/icons/socaity.svg",alt="kingdowm") 
                h2 مجتمع الجامعة
            div(class="all-decisions")    
                    a(href="socaity.html",class="btn-articles")
                        img(src="../images/icons/allServices.svg",alt="allArticles")
                        | جميع المناسبات           
        div(class="content")
            div(class="row")
                div(class="col-md-4")
                    div(class="socaity-box wow fadeInUpBig" data-wow-duration="1.3s" data-wow-delay=".3s")
                        div(class="image")
                            img(src="../images/socaity/1.png",alt="socaity",class="img-fluid")
                        div(class="text")
                            a(href="#!") تبارك الجامعة  لزفاف  ا / وليد السليطين زواج مبارك دامت السعادة في دنياكم
                div(class="col-md-4")
                    div(class="socaity-box wow fadeInUpBig" data-wow-duration="1.3s" data-wow-delay=".3s")
                        div(class="image")
                            img(src="../images/socaity/2.png",alt="socaity",class="img-fluid")
                        div(class="text")
                            a(href="#!") ارق تحيات الجامعه ل ا/ عبد الرحمن البطاينه وأجمل التهاني بالمولود السعيد، رزقك الله بره وجعله من الصالحين البارين بوالديهم
                div(class="col-md-4")
                    div(class="socaity-box wow fadeInUpBig" data-wow-duration="1.3s" data-wow-delay=".3s")
                        div(class="image")
                            img(src="../images/socaity/3.png",alt="socaity",class="img-fluid")
                        div(class="text")
                            a(href="#!") نبارك ل ا / نايف القحطاني على منصبك الجديد، ونتمنى أن يُسدد الله خطاك، ويكتب لك الخير في كل خطوة.
                div(class="col-md-4")
                    div(class="socaity-box wow fadeInUpBig" data-wow-duration="1.3s" data-wow-delay=".3s")
                        div(class="image")
                            img(src="../images/socaity/4.png",alt="socaity",class="img-fluid")
                        div(class="text")
                            a(href="#!")  تبارك الجامعة  لزفاف  ا / وليد السليطين زواج مبارك دامت السعادة في دنياكم  
                div(class="col-md-4")
                    div(class="socaity-box wow fadeInUpBig" data-wow-duration="1.3s" data-wow-delay=".3s")
                        div(class="image")
                            img(src="../images/socaity/5.png",alt="socaity",class="img-fluid")
                        div(class="text")
                            a(href="#!") ارق تحيات الجامعه ل ا/ عبد الرحمن البطاينه وأجمل التهاني بالمولود السعيد، رزقك الله بره وجعله من الصالحين البارين بوالديهم
                div(class="col-md-4")
                    div(class="socaity-box wow fadeInUpBig" data-wow-duration="1.3s" data-wow-delay=".3s")
                        div(class="image")
                            img(src="../images/socaity/6.png",alt="socaity",class="img-fluid")
                        div(class="text")
                            a(href="#!") نبارك ل ا / نايف القحطاني على منصبك الجديد، ونتمنى أن يُسدد الله خطاك، ويكتب لك الخير في كل خطوة.                                   
//- start magazine services 
                                               
//services
section(class="services")
    div(class="container")
        div(class="main-title")
            h2 خدمات الصحيفة
            p توفر الصحيفة مجموعة من الخدمات التي تساهم بها في تطوير الجامعة 
        div(class="content")
            div(class="magazine-grid")
                div(class="magazine-box wow fadeInUp" data-wow-duration="1.3s" data-wow-delay=".1s")
                    img(src="../images/services/1.svg",alt="services",class="img-fluid")
                    h4
                        a(href="#!") ارسال مناسبة
                div(class="magazine-box wow fadeInUp" data-wow-duration="1.3s" data-wow-delay=".2s")
                    img(src="../images/services/2.svg",alt="services",class="img-fluid")
                    h4
                        a(href="#!") حجز مسرح    
                div(class="magazine-box wow fadeInUp" data-wow-duration="1.3s" data-wow-delay=".3s")
                    img(src="../images/services/3.svg",alt="services",class="img-fluid")
                    h4
                        a(href="#!") حدث او فعالية طلب تصوير 
                div(class="magazine-box wow fadeInUp" data-wow-duration="1.3s" data-wow-delay=".4s")
                    img(src="../images/services/4.svg",alt="services",class="img-fluid")
                    h4
                        a(href="#!") روزنامة الفعاليات 
                div(class="magazine-box wow fadeInUp" data-wow-duration="1.3s" data-wow-delay=".5s")
                    img(src="../images/services/5.svg",alt="services",class="img-fluid")
                    h4
                        a(href="#!") تحويل التاريخ 
                div(class="magazine-box wow fadeInUp" data-wow-duration="1.3s" data-wow-delay=".6s")
                    img(src="../images/services/6.svg",alt="services",class="img-fluid")
                    h4
                        a(href="#!") الطقس اليوم  
            div(class="contact-social")
                p تابعنا علي قنوات التواصل الإجتماعي
                ul 
                    li 
                        a(href="#")
                            i(class="bi bi-instagram")     
                    li 
                        a(href="#")
                            i(class="bi bi-linkedin")    
                    li 
                        a(href="#")
                            i(class="bi bi-youtube")    
                    li 
                        a(href="#")
                            i(class="bi bi-facebook")    
                    li 
                        a(href="#")
                            i(class="bi bi-twitter")   
//services

//- start media center 
section(class="media-center")
    div(class="container") 
        div(class="title-with-all") 
            div(class="main-title") 
                img(class="img-fluid",src="../images/icons/socaity.svg",alt="kingdowm") 
                h2 المركز الاعلامي 
                p ارشيف الصور والاحداث والفعاليات بالجامعة     
            div(class="all-decisions")    
                    a(href="#",class="btn-articles")
                        img(src="../images/icons/allServices.svg",alt="allArticles")
                        | كافة المناسبات  
    div(class="content")
        div(class="media-carousel owl-carousel owl-theme wow fadeInUp" data-wow-duration="1.3s" data-wow-delay=".1s")
            div(class="media-box")
                div(class="image")
                    img(src="../images/media/01.svg",alt="",class="img-fluid")
                div(class="title")
                    a(href="#!")  حفل اليوم الوطني 92 برعاية رئيس الجامعة
            div(class="media-box")
                div(class="image")
                    img(src="../images/media/02.svg",alt="",class="img-fluid")
                div(class="title")
                    a(href="#!")  رئيس الجامعة يزور معهد البحوث والخدمات الاسستشارية ويتسلم 4 شهادات ايزو 
            div(class="media-box")
                div(class="image")
                    img(src="../images/media/03.svg",alt="",class="img-fluid")
                div(class="title")
                    a(href="#!")  رئيس الجامعة خلال توقيع اتفاقية التعاوزن مع جمعية ريف
            div(class="media-box")
                div(class="image")
                    img(src="../images/media/04.svg",alt="",class="img-fluid")
                div(class="title")
                    a(href="#!")  رئيس الجامعة يزور المستشفي الجامعة ويتفقد مركز اللقاح 
            div(class="media-box")
                div(class="image")
                    img(src="../images/media/05.svg",alt="",class="img-fluid")
                div(class="title")
                    a(href="#!")  رئيس الجامعة يتسلم شهادة الاعتماد الاكاديمي لكلية الصيدلة                                 
//Condolences

section(class="condolences")
     div(class="container")
        div(class="main-title") 
            h2 عزاء
        div(class="content")
            div(class="condolences-carousel owl-carousel owl-theme")
                div(class="condolences-box")
                    div(class="title")
                        p(class="") تعزي الجامعه  | (....)
                        p(class="text") احسن الله عزائكم في مصابكم إنا لله وانا اليه راجعون
                div(class="condolences-box")
                    div(class="title")
                        p(class="") تعزي الجامعه  | (....)
                        p(class="text") احسن الله عزائكم في مصابكم إنا لله وانا اليه راجعون
                div(class="condolences-box")
                    div(class="title")
                        p(class="") تعزي الجامعه  | (....)
                        p(class="text") احسن الله عزائكم في مصابكم إنا لله وانا اليه راجعون 
                div(class="condolences-box")
                    div(class="title")
                        p(class="") تعزي الجامعه  | (....)
                        p(class="text") احسن الله عزائكم في مصابكم إنا لله وانا اليه راجعون 
                div(class="condolences-box")
                    div(class="title")
                        p(class="") تعزي الجامعه  | (....)
                        p(class="text") احسن الله عزائكم في مصابكم إنا لله وانا اليه راجعون 
                div(class="condolences-box")
                    div(class="title")
                        p(class="") تعزي الجامعه  | (....)
                        p(class="text") احسن الله عزائكم في مصابكم إنا لله وانا اليه راجعون                         